$main_color: #74a5b3;
.pagination {
  --bs-pagination-active-bg: #74a5b3;
  --bs-pagination-color: #74a5b3;
  --bs-pagination-hover-color: #74a5b3;
  --bs-pagination-focus-color: #74a5b3;
  --bs-pagination-active-border-color: #74a5b3;
}